img{
    border-radius: 3px;
    border: solid 2px rgb(150, 150, 150);
}

td,th{
    padding-left: 6px;
    padding-right: 6px;
    font-family: Montserrat;
    font-weight: 500;
}

th{
    font-weight: 600;
}

hr{
    margin:12px;
    border-top: solid 1px rgb(150, 150, 150);
}