<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="text-align: center;">Admin</mat-toolbar>
    <hr style="margin-top: 0px;">
    <mat-nav-list>
      <a mat-list-item routerLink="/admin/dashboard">Dashboard</a>
      <a mat-list-item (click)="display()">Users</a>
      <a mat-list-item *ngIf="!isDisplay" routerLink="/admin/manage-users">&nbsp;&nbsp;Manage</a>
      <a mat-list-item *ngIf="!isDisplay" routerLink="/admin/create-user">&nbsp;&nbsp;Create</a>
      <a mat-list-item (click)="display2()">Students</a>
      <a mat-list-item *ngIf="!isDisplay2" routerLink="/admin/manage-students">&nbsp;&nbsp;Manage</a>
      <a mat-list-item *ngIf="!isDisplay2" routerLink="/admin/create-students">&nbsp;&nbsp;Create</a>
      <a mat-list-item (click)="display1()">Courses</a>
      <a mat-list-item *ngIf="!isDisplay1" routerLink="/admin/view-courses">&nbsp;&nbsp;View</a>
      <a mat-list-item *ngIf="!isDisplay1" routerLink="/admin/manage-courses">&nbsp;&nbsp;Manage</a>
      <a mat-list-item routerLink="/admin/time-table">Time Table</a>
      <a mat-list-item routerLink="/admin/notice">Notices</a>
      <a mat-list-item (click)="display3()">Fee Structure</a>
      <a mat-list-item *ngIf="!isDisplay3" routerLink="/admin/view-fee">&nbsp;&nbsp;View</a>
      <a mat-list-item *ngIf="!isDisplay3" routerLink="/admin/manage-fee">&nbsp;&nbsp;Manage</a>
      <a mat-list-item (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>College Management System</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
