
.head {
    text-align: center;
	font-family: Montserrat, sans-serif;
	margin-top: 3%;
	font-weight: 700
}

.box {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	max-width: 350px !important;
	width: 90%;
	height: 300px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 10px 10px rgba(150, 150, 150, .8)
}

@media (max-width:676px){
	.login-form {
		position: absolute;
		display: block;
		width: 100%;
		background: #e4e3e3;
		height: 100%;
		padding: 40px 40px;
	}
}
@media (min-width:677px){
	.login-form {
		display: block;
		width: 625px;
		background: #e4e3e3;
		height: 570px;
		padding: 40px 40px;
		border-radius: 15px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%)
	}
}


:host ::ng-deep .mat-tab-body {
    height: 280px !important;
}