<div style="padding: 2%; padding-left: 5%; padding-right: 5%;">
    <h2>Dashboard</h2>
    <div class="row" style="margin-bottom: 24px;">
      <div class="col-md-8" *ngIf="admin">
        <mat-card class="dashboard-card" *ngIf="!isLoading_1">
          <div class="row" style="height: 100%;">
            <div class="col-md-6 col-xs-6 col-sm-6" style="border-right: solid 3px #fff; height: 100%;">
              <h3>Courses</h3>
              <h1>{{results.course}}</h1>
            </div>
            <div class="col-md-6 col-xs-6 col-sm-6">
              <h3>Branches</h3>
              <h1>{{results.branch}}</h1>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-md-12" *ngIf="!admin">
        <mat-card class="dashboard-card" *ngIf="!isLoading_1">
          <div class="row" style="height: 100%;">
            <div class="col-md-4 col-xs-4 col-sm-4" style="border-right: solid 3px #fff; height: 100%;">
              <h3>Courses</h3>
              <h1>{{results.course}}</h1>
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4" style="border-right: solid 3px #fff; height: 100%;">
              <h3>Branches</h3>
              <h1>{{results.branch}}</h1>
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4">
              <h3>Subjectss</h3>
              <h1>{{results.subject}}</h1>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-md-4" *ngIf="admin">
        <mat-card class="dashboard-card" style="background-color: #9733EE;" *ngIf="!isLoading_2">
          <h3>Users</h3>
          <h1>{{results.user}}</h1>
        </mat-card>
      </div>
    </div>
    <div class="row" style="margin-top: 24px;">
      <div class="col-md-6">
        <div class="row" style="margin-left: 0px;">
          <mat-card class="dashboard-card" style="background-color: #02AAB0;" *ngIf="!isLoading_3">
            <h3>Students</h3>
            <h1>{{results.students}}</h1>
          </mat-card>
        </div>
        <div class="row" style="margin-top: 24px; margin-left: 0px;">
          <mat-card class="dashboard-card" style="background-color: #F9D423;" *ngIf="!isLoading_4">
            <h3>Time Tables</h3>
            <h1>{{results.timeTable}}</h1>
          </mat-card>
        </div>
      </div>
      <div class="col-md-6">
        <mat-card class="dashboard-notice-card" style="background-color: #45B649; height: 336px;" *ngIf="!isLoading_5">
          <h3 style="margin-bottom: 5px;">Updates</h3>
          <hr style="margin-top: 0px;">
          <div class="scroll-left">
            <ul>
              <li *ngFor="let i of notices">{{i.description}}</li>
            </ul>
          </div>
        </mat-card>
      </div>
    </div>

</div>
